footer {
  width: 100%;
  max-width: 56rem;
  margin: 0 auto;
  padding: var(--spacing-md) var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);

  p {
    font-family: 'GilmerMedium', 'Inter Tight', sans-serif;
    font-weight: 600;
    color: var(--footer-color);
  }

  .language-select {
    position: relative;
    display: flex;
    height: 2rem;

    .selected-language {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: var(--spacing-xs) var(--spacing-sm);
      height: 2rem;
      border: var(--border-width-sm) solid var(--border-color);
      border-radius: var(--border-radius);
      background-color: var(--bg-color);
      font-family: 'GilmerMedium', 'Inter Tight', sans-serif;
      font-size: var(--font-size-md);
      font-weight: 500;
      color: var(--footer-color);
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: var(--button-hover-bg-color);
      }
    }

    .language-list {
      position: absolute;
      bottom: calc(100% + var(--spacing-sm));
      right: 0;
      background-color: var(--bg-color);
      border: var(--border-width-sm) solid var(--border-color);
      border-radius: var(--border-radius);
      z-index: 10;
      width: max-content;

      .language-option {
        font-family: 'GilmerMedium', 'Inter Tight', sans-serif;
        font-size: var(--font-size-md);
        font-weight: 500;
        color: var(--footer-color);
        padding: var(--spacing-xs) var(--spacing-sm);
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;
        &:hover {
          background-color: var(--button-hover-bg-color);
        }
        &.active {
          pointer-events: none;
          background-color: var(--button-active-bg-color);
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding: var(--spacing-md);
  }
}