.exp-edu, .exp-edu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  .divider {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--border-width);
    height: 100%;
    background-color: var(--border-color);
  }

  .exp-edu-item {
    margin-left: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    position: relative;

    .block {
      position: absolute;
      left: calc(-1 * var(--spacing-md) - 0.225rem);
      top: 0.25rem;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 0.2rem;
      background-color: var(--block-color);
    }

    a {
      font-family: 'GilmerBold', 'Coolvetica', sans-serif;
      margin: 0;
      font-weight: 600;
      font-size: var(--font-size-md);
      color: var(--text-color);
      text-decoration: none;
      display: flex;
      align-items: end;
      transition: color 0.3s ease-in-out;

      svg {
        min-width: 1rem;
        width: 1rem;
        min-height: 1rem;
        height: 1rem;
        fill: var(--icon-color);
        transition: 0.3s ease-in-out;
        transition-property: fill, transform;
        will-change: transform;
      }

      &:hover {
        color: var(--link-color);

        svg {
          fill: var(--link-color);
          transform: translate(0.05rem, -0.05rem);
        }
      }
    }

    .exp-edu-item-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing-xs);
    }

    title {
      font-family: Inter Tight, sans-serif;
      margin: 0;
      font-weight: 600;
      font-size: var(--font-size-md);
      color: var(--details-color);
    }

    p {
      font-size: var(--font-size-sm);
      text-align: justify;
      hyphens: auto;
      -webkit-hyphens: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .exp-edu-item-header {
    h4, time {
      font-size: var(--font-size-sm);
    }
  }
}