section.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md) 0;
  gap: var(--spacing-sm);

  h2 {
    font-size: var(--font-size-lg);
    color: var(--details-color);
  }
}

@media screen and (max-width: 768px) {
  section.intro {
    gap: var(--spacing-md);

    h2 {
      font-size: var(--font-size-md);
    }
  }
}