@font-face {
  font-family: 'VelaSans-GX';
  src: url('assets/VelaSans-GX.woff2') format('woff2');
}

@font-face {
	font-family: 'BabyDoll';
	src: url('assets/BabyDoll.ttf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*::-webkit-scrollbar{
  display: none;
}
a {
	text-decoration: none;
}
br {
	margin: 0.25rem;
}
.mb-4 {
	margin-bottom: 1rem !important;
}

:root {
	--lotion: #F9F9F9;
}

html {
	font-family: 'VelaSans-GX', sans-serif;
	font-size: calc(20px + (24 - 16) * (100vw - 1080px) / (2160 - 1080));
}

html, body, #root {
	width: 100%;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#root {
	display: flex;
	justify-content: center;
}

.app {
  display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
	padding: 2rem calc((100% - 44rem)/2);
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2.5rem;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	background-color: var(--lotion);
}

#navbar .logo {
	font-weight: 800;
	color: #212121;
}

#navbar ul, footer ul {
	display: flex;
	list-style-type: none;
	margin: 0rem;
	padding: 0rem;
}

#navbar ul li, footer ul li {
	display: flex;
}

#navbar ul li:not(:last-child), footer ul li:not(:last-child) {
	margin-right: 0.5rem;
}

#navbar ul li a, footer ul li a{
	border-radius: 0.25rem;
	height: 1.5rem;
	padding: 0rem 0.5rem;
	color: #212121;
	font-size: 0.625rem;
	line-height: 1.5rem;
	font-weight: 600;
	transition: all 0.2s ease-in-out;
}

#navbar ul li:hover a, footer ul li:hover a {
	background-color: #F4F4F4;
	color: #424242;
}

#intro {
	height: 14.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 0px;
}

.introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.introduction h1 {
	font-size: 1rem;
	font-weight: 700;
	color: #212121;
	line-height: 1.5rem;
}

.introduction, .skills {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}

.skills {
	display: flex;
	justify-content: center;
	align-items: end;
	padding: 0rem 1rem;
}

.skills > * {
	width: 100% !important;
}

.injected-svg {
	width: 100%;
}

#work {
	display: flex;
	flex-direction: column;
}

section h2 {
	font-size: 1rem;
	font-weight: 700;
	color: #212121;
	line-height: 1.5rem;
	margin: 1rem;
}

.works {
	display: flex;
	margin: 0rem calc(0px - ((100vw - 44rem) / 2));
	width: 100vw;
}

.works-content {
	display: flex;
	gap: 1rem;
	width: fit-content;
}

.works-content .card {
	display: inline-block;
	width: 21.5rem !important;
	aspect-ratio: 16/9;
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: var(--lotion);
}

.works-content :first-child {
	margin-left: calc((100vw - 44rem) / 2);
}

.works-content :last-child {
	margin-right: calc((100vw - 44rem) / 2);
}

/* About */
#about {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.about-me {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
}

.me {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0rem 1rem;
}

.me p {
	text-align: justify;
  text-justify: inter-word;
	font-size: 1rem;
	font-weight: 700;
	color: #212121;
}

.me p span {
	color: #848484;
}

.download-cv {
	background-color: #212121;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	font-weight: 700;
	color: var(--lotion);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.download-cv-svg div svg {
	position: absolute;
	left: 4.2rem;
	bottom: 1.2rem;
	scale: 1.2;
	rotate: -18deg;
	pointer-events: none;
}

.download-cv-text {
	font-family: 'BabyDoll', sans-serif;
	position: absolute;
	width: auto;
	color: #212121;
	word-break: keep-all;
  white-space: nowrap;
	left: 8.6rem;
	bottom: 2rem;
	font-weight: 600;
	font-size: 1.25rem;
	user-select: all; /* Allows users to select the link's text */
  cursor: pointer;
}

.details {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: 1rem;
	width: 100%;
	border-radius: 0.5rem;
}

.details-section {
	display: flex;
	gap: 1rem;
}

.details-card {
	pointer-events: none;
	user-select: none;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.experience-card {
	background-color: #F5EAFF;
	color: #AA6CDD;
}

.experience-time-card {
	background-color: #DCEEFC;
	color: #2591E8;
}

.current-job-card {
	background-color: #DFF8FE;
	color: #2EB9DD;
}

.education-card {
	background-color: #CCF1E1;
	color: #00B066;
}

.studies-time-card {
	background-color: #DBEFDC;
	color: #4CAF50;
}

.achievements-card {
	background-color: #FFF7CC;
	color: #CAA900;
}

.achievements-count-card {
	background-color: #FEEED4;
	color: #D88A0F;
}

.achievement-game-card {
	background-color: #FFCDCD;
	color: #E55555;
}

.achievement-threejs-card {
	background-color: #E2DFFC;
	color: #705DF2;
}

/* Contact */
#contact {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.interactive-contact {
	width: 100%;
	height: 10rem;
	background-color: var(--lotion);
	border-radius: 0.5rem;
	position: relative;
}

.interactive-contact a:not(.interactive-text) {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: 3rem;
	font-weight: 700;
	color: #212121;
	transition: all 0.2s ease-in-out;
}

.interactive-contact a:not(.interactive-text):hover {
	color: #424242;
	font-size: 4rem;
}

.interactive-contact:hover .interactive-text {
	opacity: 1;
}

.interactive-text {
	opacity: 0;
	position: absolute;
	transition: all 0.2s ease-in;
	font-size: 0.75rem;
	font-weight: 700;
	color: #424242;
	user-select: none;
}

.interactive-text:hover {
	font-size: 1rem;
}

.contact-collaborate {
	top: 12%;
	right: 29%;
	rotate: -10deg;
}

.contact-idea {
	top: 13%;
	left: 29%;
	rotate: 10deg;
}

.contact-private {
	bottom: 10%;
	left: 42%;
	rotate: -5deg;
}

.contact-job {
	top: 50%;
	left: 17%;
	rotate: -7deg;
}

.contact-help {
	top: 50%;
	right: 15%;
	rotate: 8deg;
}

.interactive-contact:hover .contact-collaborate {
	top: 10%;
	right: 28%;
	rotate: -10deg;
}

.interactive-contact:hover .contact-idea {
	top: 11%;
	left: 28%;
	rotate: 10deg;
}

.interactive-contact:hover .contact-private {
	bottom: 12%;
	left: 42%;
	rotate: -5deg;
}

.interactive-contact:hover .contact-job {
	top: 50%;
	left: 15%;
	rotate: -7deg;
}

.interactive-contact:hover .contact-help {
	top: 50%;
	right: 13%;
	rotate: 8deg;
}

.contact-collaborate:hover {
	color: #2591E8;
}

.contact-idea:hover {
	color: #CAA900;
}

.contact-private:hover {
	color: #E55555;
}

.contact-job:hover {
	color: #AA6CDD;
}

.contact-help:hover {
	color: #00B066;
}

/* Footer */
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2.5rem;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	background-color: var(--lotion);
}

footer p {
	font-size: 0.625rem;
	font-weight: 600;
	color: #212121;
}