@font-face {
  font-family: 'Gilmer';
  src: url('../public/GilmerBold.woff2') format('woff2'),
       url('../public/GilmerBold.woff') format('woff'),
       url('../public/GilmerBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('../public/Coolvetica.woff2') format('woff2'),
       url('../public/Coolvetica.woff') format('woff'),
       url('../public/Coolvetica.ttf') format('truetype');
  font-weight: 600;
}

:root {
  font-size: 16px;

  --font-size-xl: 1.25rem;
  --font-size-lg: 1rem;
  --font-size-md: 0.875rem;
  --font-size-sm: 0.75rem;
  --font-size-xs: 0.625rem;

  --spacing-lg: 2rem;
  --spacing-md: 1rem;
  --spacing-sm: 0.5rem;
  --spacing-xs: 0.25rem;
  --border-radius: 0.25rem;
  --border-width: 1px;

  --dark-0: #000000;
  --dark-100: #212121;
  --dark-200: #424242;
  --dark-300: #636363;

  --light-0: #FFFFFF;
  --light-100: #F5F5F5;
  --light-200: #EEEEEE;
  --light-300: #E0E0E0;

  --text-color: var(--dark-100);
  --description-color: var(--dark-200);
  --details-color: var(--dark-300);
  --clear-color: var(--light-0);

  --bg-color: var(--light-0);
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Gilmer', 'Coolvetica', sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.app {
  width: 100%;
  max-width: 56rem;
  margin: 0 auto;
  padding: 0 var(--spacing-lg) 0 var(--spacing-lg);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}