@font-face {
  font-family: 'VelaSans-GX';
  src: url('../public/VelaSans-GX.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'BabyDoll';
	src: url('../public/BabyDoll.ttf');
	font-display: swap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar{
  display: none;
}

*::-moz-selection, *::selection {
	background-color: #222222;
	color: #FCFCFC;
}

p {
	text-decoration: none;
	font-weight: 800;
	color: #222222;
	font-size: 3rem;
}

html {
	font-family: 'VelaSans-GX', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
